{% extends 'base.html' %}
{% load bootstrap4 %}
{% block page_content %}

<!DOCTYPE html>
<html>
	<head>
		<title>BeeCheck</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Dodavanje košnice</h1><hr>

					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							{% bootstrap_form_errors form %}
							{% bootstrap_label 'Broj košnice:' %}{% bootstrap_field form.hive_number show_label=Fasle placeholder='' %}
						</div>
						<hr>
						<input type="submit" class="btn btn-primary" value="Dodaj">
						<a href="{% url 'location' loc.pk %}" class="btn btn-secondary">Natrag</a>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

{% endblock page_content %}