{% extends 'base.html' %}
{% load bootstrap4 %}
{% block page_content %}

<!DOCTYPE html>
<html>
	<head>
		<title>BeeCheck</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Uredi maticu</h1><hr>
				</div>
			</div>
			<form method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col">
						<div class="form-group">
							{% bootstrap_label 'Ime matice:' %}{% bootstrap_field form.queen_name show_label=False placeholder='' %}
						</div>
						<div class="form-group">
							{% bootstrap_label 'Datum dodavanja:' %}{% bootstrap_field form.queen_added_date show_label=False placeholder='' %}
						</div>
						<div class="form-group">
							{% bootstrap_label 'Datum poništenja:' %}{% bootstrap_field form.queen_removed_date show_label=False placeholder='' %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<input type="submit" class="btn btn-primary" value="Potvrdi">
					</div>
				</div>
			</form>
		</div>
	</body>
</html>

{% endblock page_content %}