{% extends 'base.html' %}
{% block page_content %}

<!DOCTYPE html>
<html>
	<head>
		<title>BeeCheck</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Uredi mjesto</h1><hr>

					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							{% bootstrap_label 'Mjesto:' %}{% bootstrap_field form.location_name show_label=False placeholder='' %}
						</div>
						<hr>
						<input type="submit" class="btn btn-primary" value="Potvrdi">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

{% endblock page_content %}